<% include base/head.ejs %>
<main class="pref">
  <div class="header first">
      <a href="/" class="btn-back" href="/"><img src="img/chevleft.svg" alt=""></a>
      <h3>More about the cycle</h3>
  </div>
  <div class="header second">
      <button href="/" class="btn-back back-button" href="/"><img src="img/chevleft.svg" alt=""></button>
      <h3>More about the cycle</h3>
  </div>
  <div class="contolers">
    <span class="back">
    </span>
    <span class="next">
    </span>
  </div>
  <section class="results-start">
    <article class="slide <% if('fish' === data.answer.toLowerCase()){ %><%= 'slide-index-active' %><% } %> fish">
      <div class="slide-image">
        <img src="/img/fish.svg" alt="Image of element" />
      </div>
      <h2>Fish</h2>
      <p>
        Momenteel zijn er <span class="big-text">30</span> vissen in onze tank
      </p>
      <button class="btn-main fish-button">Ingredients by <br> Fish</button>
    </article>
    <article class="slide <% if('bacteria' === data.answer.toLowerCase()){ %><%= 'slide-index-active' %> <% } %> bacteria">
      <div class="slide-image">
        <img src="/img/bacteria.svg" alt="Image of element" />
      </div>
      <h2>Bacteria</h2>
      <p>
        Momenteel zijn er <span class="big-text">312.124.542</span> Bacterien in de tank
      </p>
      <button class="btn-main bacteria-button">Ingredients by <br>Bacteria</button>
    </article>
    <article class="slide <% if('enviroment' === data.answer.toLowerCase()){ %><%= 'slide-index-active' %> <% } %> enviroment">
      <div class="slide-image">
        <img src="/img/environment.svg" alt="Image of element" />
      </div>
      <h2>Environment</h2>
      <p>
        Al onze producten worden gehaald uit <span class="big-text">overproductie</span>
      </p>
      <button class="btn-main environment-button">Ingredients by <br>Enviroment</button>
    </article>
    <article class="slide <% if('plants' === data.answer.toLowerCase()){ %><%= 'slide-index-active' %> <%} %> plants">
      <div class="slide-image">
        <img src="/img/plants.svg" alt="Image of element" />
      </div>
      <h2>Plants</h2>
      <p>
        Momenteel halen we <span class="big-text">400</span> planten in onze kas
      </p>
      <button class="btn-main plants-button">Ingredients by <br> Plants</button>
    </article>
  </section>
  <% for(let i = 0; i < data.data.length; i++){ %>
    <section class="<%= data.data[i].role.toLowerCase()%>-result ingredients">
      <div class="result-header">
        <div class="result-image">
          <img src="/img/<%= data.data[i].role.toLowerCase() %>.svg" alt="Image of element" />
        </div>
        <div class="result-header_content">
          <h2><%= data.data[i].role %></h2>
          <p>
            These ingredients are dependant on <%= data.data[i].role %>
          </p>
        </div>
      </div>
      <div class="result-content">
        <h3>Select your favorite ingredients</h3>
        <form name="<%= data.data[i].role.toLowerCase()%>" action="/result" method="post">
          <% var maxNr = 0; %>
          <% for(let k = 0; k < data.recipe.length; k++){  %>
            <% for(let j = 0; j < data.recipe[k].cycle.length; j++){ %>
              <% if(data.recipe[k].cycle[j].toLowerCase() === data.data[i].role.toLowerCase()){ %>
                <% if(maxNr < 4){ %>
                  <% maxNr = maxNr + 1; %>
                  <% var randomNr = Math.floor(Math.random() * data.recipe[k].ingredients.length); %>
                  <% var className = data.recipe[k].ingredients[randomNr].toLowerCase().split(' ').join('_'); %>
                  <input type="hidden" value="" name="selected" />
                  <label for="<%= className %>">
                    <input id="<%= className %>" type="radio" name="ingredients" value="<%= data.recipe[k].ingredients[randomNr] %>"/>
                    <%= data.recipe[k].ingredients[randomNr] %>
                  </label>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
          <input type="submit" class="btn btn-main" value="your <%= data.data[i].role %> meal" />
        </form>
      </div>
    </section>
  <% } %>
</main>


<% include base/footer.ejs %>
